@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/*Responsive*/
/* @media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }

  .signup-form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
 }

.input-box {
  width: 100%;
  margin-top: 20px;
}

.input-box label {
  color: #333;
}

.signup-form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.signup-form .column {
  display: flex;
  column-gap: 15px;
}

.signup-form .gender-box {
  margin-top: 20px;
}

.address :where(input, .select-box) {
  margin-top: 15px;
}

.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}

.signup-form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: brown;
}

.signup-form button:hover {
  background: darksalmon;
}



.header-register-title {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.header-one {
  color: #333;
  font-size: 30px;
  margin-top: 10px;
}

.invalid-field {
  border-color: #dc3545;
  color: #dc3545;
  background-color: #fff;
}

.two-heading {
  display: flex;
  justify-content: center;
}

.one-heading {
  align-items: flex-start;
  width: 600px;
}

.image-tag {
  display: flex;
  flex-direction: column;
}

.image-upload {
  display: flex;
  align-items: center;
}

.error-text {
  font-size: small;
  color: red;
}

.signup-form {
  position: relative;
  top: 25%;
  left: 50%;
  width: 50%;
  padding: 40px;
  transform: translate(-50%, -5%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
  border-radius: 10px;
  background-color: lightgrey;
  overflow: auto;
}
.body-content{
  overflow: auto;
} */

.register-body{
  height: 90vh;
  display: flex;
  justify-content: center;
  padding: 10px;
  
  background: linear-gradient(135deg, #93c47d, #8af0e7);
}
.register-container{
  max-width: 1000px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.register-container .register-title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.register-container .register-title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #93c47d);
}
.register-content form .register-user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.register-form .register-user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 3 - 20px);
  flex-direction: column;
}
.register-form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.register-user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.register-form .register-user-details .profile-input-box{
  margin-bottom: 15px;
  width: calc(100% / 3 - 20px);
  flex-direction: column;
}
.register-form .profile-input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}


.register-user-details .profile-input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}


#profile-uploader{
  margin: 0;
  padding: 0;
  border: 0;
}


.register-user-details .input-box input:focus,
.register-user-details .input-box input:valid{
  border-color: #93c47d;
}
 .register-form .gender-details .gender-register-title{
  font-size: 20px;
  font-weight: 500;
 }
 .register-form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 .register-form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 .register-form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #93c47d;
   border-color: #d9d9d9;
 }
 .register-form input[type="radio"]{
   display: none;
 }
 .register-form .button{
   height: 45px;
   margin: 35px 0
 }
 .register-form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #8af0e7, #93c47d);
 }
 .register-form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #8af0e7, #93c47d);
  }
 @media(max-width: 584px){
 .register-container{
  max-width: 100%;
}
.register-form .register-user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  .register-form .category{
    width: 100%;
  }
  .register-content form .register-user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .register-user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .register-container .content .category{
    flex-direction: column;
  }
}